{% comment %}
  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% include 'hero' %}

<section id="content" class="section hidden">
  <div class="wrapper">
     
  </div>
</section>

{% comment %}
  Product Features
{% endcomment %}
<section class="single-product-features">
  <div class="wrapper wrapper--max_height">
    <div class="grid__item large--four-tenths single-product-features__left">
      <div class="pr-50">
        
        <ul class="nav-circles" data-control-nav data-control-targets="#single-product-images, #single-product-descriptions, #new-one">
          <li>
            <div class="circle"></div>
            <span>Cook</span>
          </li>
          <li>
            <div class="circle"></div>
            <span>Charge</span>
          </li>
          <li>
            <div class="circle"></div>
            <span>Light</span>
          </li>
        </ul>

        <ul id="single-product-descriptions" data-control-target>
          <li>
            <h3 class="light">Cook Heading</h3>
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quibusdam autem voluptatum tenetur eum laboriosam porro recusandae nemo.</h6>
            <a href="#" class="btn btn-green">Shop All Products</a>
          </li>
          <li>
            <h3 class="light">Instant On-Demand Electricity</h3>
            <h6>BioLite harnesses power from unexpected ways, creating innovative cooking, charging, and lighting solutions that reshape the way we look at energy. </h6>
            <a href="#" class="btn btn-green">Shop All Products</a>
          </li>
          <li>
            <h3 class="light">Light Heading</h3>
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quibusdam autem voluptatum tenetur eum laboriosam porro recusandae nemo.</h6>
            <a href="#" class="btn btn-green">Shop All Products</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid__item large--six-tenths single-product-features__right" data-control-target>
      <ul id="single-product-images">
        <li data-control-target><img src="{{ 'large-campstove-on-white-bg.jpg' | asset_url }}" alt=""></li>
        <li data-control-target><img src="{{ 'large-campstove-on-white-bg.jpg' | asset_url }}" alt="" style="transform:scale(-1, 1)"></li>
        <li data-control-target><img src="{{ 'large-campstove-on-white-bg.jpg' | asset_url }}" alt=""></li>
      </ul>
    </div>
  </div>
</section>

{% comment %}
  Interstitial
{% endcomment %}
<section class="interstitial section-xlarge" style="background-image:url('{{ 'bg-interstitial-2.jpg' | asset_url }}')">
  <div class="wrapper table">
    <div class="interstitial__content table-cell text-center">
      <h3 class="mt0">Global impact in every purchase</h3>
      <h6 class="light">With every purchase of a BioLite product, you are helping create lasting change in emerging markets of the developing world. The same technology that provides you with a clean, innovative camping experience is providing better living conditions, saving lives worldwide.  </h6>
      
      <footer class="mt40">
        <a href="#" class="btn btn-gray">See the Impact</a>
      </footer>
    </div>
  </div>
  <div class="interstitial__overlay interstitial__overlay--green"></div>
</section>

{% comment %}
  Story grid
{% endcomment %}
<section class="section-xlarge">
  <header class="story-grid__header wrapper text-center mb50">
    <h3>BioLite is used in over 70 countries and counting</h3>
    <h6>See user stories from around the world and their firsthand experiences of bringing energy everywhere.</h6>
  </header>

  <div class="grid">

    <section class="story-grid story-grid--thirds story-grid--green">

      {% for article in blogs['stories'].articles limit:5 %}
        {% if article.tags contains 'stories_featured' %}
        <div class="story-grid-item">
          <div class="story-grid-item__inner" style="background-image: url('{{ article.metafields.hero.image }}');">
            <div class="story-grid-item__content story-grid-item__content--gradient table">
              <div class="table-cell">
                <div>
                  <i class="fa fa-lightbulb-o fa-circle-border"></i>
                  <i class="fa fa-calendar-o fa-circle-border"></i>
                </div>
                <h4 class="light alt">{{ article.title | link_to: article.url }}</h4>
                <small>
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncatewords: 20 }}
                  {% endif %}
                </small>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}

      <div class="story-grid-item story-grid-item--fallback">
        <div class="story-grid-item__inner">
          <div class="story-grid-item__content story-grid-item__content--gradient table">
            <div class="table-cell">
              <h5 class="light">Tell us about your great adventures with BioLite products</h5>
              <a href="#" class="btn btn-primary">Share Your Story</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- story-grid -->
  </div>

  <footer class="story-grid__footer wrapper text-center mt30">
    <a href="#" class="btn btn-outline-primary">See All Stories</a>
  </footer>

</section>