{% comment %}

  This page template is for the FAQ section
  Need to update code once the styles for FAQ are done
  FAQ category names should only display once in each category

{% endcomment %}

{% include 'hero' %}

<section class="faq flex-columns">
  <nav class="nav-sidebar flex-sidebar faq-nav">
    <div class="nav-sidebar__header">
      <h4 class="alt light baseline">Categories</h4>
    </div>
    <div class="nav-sidebar__content">
      <ul class="faq-categories" data-control-nav data-control-targets="#faq-content">
        <li>KettleCharge</li>
        <li>Most Popular FAQs</li>
        <li>BaseCamp</li>
        <li>KettlePot</li>
        <li>Portable Grill</li>
        <li>CampStove Running &amp; Use</li>
        <li>CampStove Start Up &amp; First Time Use</li>
        <li>Maintenance &amp; Care</li>
        <li>Tips &amp; Troubleshooting</li>
        <li>Orders &amp; Shipping</li>
        <li>HomeStove</li>
        <li>BioLite eGifts and Wishlist</li>
        <li>Miscellaneous Questions</li>
      </ul>
    </div>
  </nav>
  
  <ul id="faq-content" class="faq-content flex-content" data-control-target>
    <li>
      <h3 class="faq-title light primary baseline mb20">KettleCharge</h3>
      {% for article in blogs['faq_kettlecharge'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">Most Popular FAQs</h3>
      {% for article in blogs['faq_popular'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">BaseCamp</h3>
      {% for article in blogs['faq_basecamp'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">KettlePot</h3>
      {% for article in blogs['faq_kettlepot'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    
    <li>
      <h3 class="faq-title light primary baseline mb20">Portable Grill</h3>
      {% for article in blogs['faq_portablegrill'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    
    <li>
      <h3 class="faq-title light primary baseline mb20">CampStove Running &amp; Use</h3>
      {% for article in blogs['faq_campstove-running'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">CampStove Start Up &amp; First Time Use</h3>
      {% for article in blogs['faq_campstove-startup'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    
    <li>
      <h3 class="faq-title light primary baseline mb20">Maintenance &amp; Care</h3>
      {% for article in blogs['faq_maintenance-care'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    
    <li>
      <h3 class="faq-title light primary baseline mb20">Tips &amp; Troubleshooting</h3>
      {% for article in blogs['faq_tips-troubleshooting'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">Orders &amp; Shipping</h3>
      {% for article in blogs['faq_orders-shipping'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">HomeStove</h3>
      {% for article in blogs['faq_homestove'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    
    <li>
      <h3 class="faq-title light primary baseline mb20">BioLite eGifts &amp; Wishlist</h3>
      {% for article in blogs['faq_egift-wishlist'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>

    <li>
      <h3 class="faq-title light primary baseline mb20">Miscellaneous Questions</h3>
      {% for article in blogs['faq_misc'].articles %}
        <div class="list-toggles">
          <div class="list-toggle">
            <div class="list-toggle__title" data-control-sibling data-control-toggle-icons="fa-plus-circle, fa-minus-circle">
              <i class="fa fa-minus-circle"></i>
              <span>{{ article.title }}</span>
            </div>
            <div class="list-toggle__content">
              <p>{{ article.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
  </ul>
</section>

<section class="jumbotron">
  <div class="wrapper text-center">
    <h3 class="light baseline mb10"><em>Still Have Questions?</em></h3>
    <h6 class="light baseline">If you didn't find answers in our FAQ section, send us a message!</h6>
    <a href="/pages/contact/#contactFormWrapper" class="btn btn-outline-white btn-icon btn-icon--left mt30"> <i class="fa fa-envelope-o"></i> <span>Contact Us</span> </a>
  </div>
</section>