{% comment %}

  This page template is for the FAQ section
  Need to update code once the styles for FAQ are done
  FAQ category names should only display once in each category

{% endcomment %}

<section class="section">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">

        {% for article in blogs['FAQs'].articles %}
        
          {% if article.tags contains 'Popular' %}
          <h3>Most Popular FAQs</h3>
          {{ blog.articles_count }}

          <div class="faq">
            <h5 class="light alt">{{ article.title }}</h5>
            <small>{{ article.content }}</small>
          </div>
          {% endif %}
            
          {% if article.tags contains 'BaseCamp' %}
            <h3>BaseCamp</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'KettleCharge' %}
            <h3>KettleCharge</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'KettlePot' %}
            <h3>KettlePot</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}
          
          {% if article.tags contains 'Portable Grill' %}
            <h3>Portable Grill</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}
          
          {% if article.tags contains 'CampStove_Running' %}
            <h3>CampStove Running &amp; Use</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'CampStove_Startup' %}
            <h3>CampStove Startup &amp; First Time Use</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'Maintenance+Care' %}
            <h3>Maintenance &amp; Care</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'Tips+Troubleshooting' %}
            <h3>Tips &amp; Troubleshooting</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'Orders+Shipping' %}
            <h3>Orders &amp; Shipping</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'HomeStove' %}
            <h3>HomeStove</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'Wishlist' %}
            <h3>Wishlist</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}

          {% if article.tags contains 'Misc' %}
            <h3>Miscellaneous Questions</h3>
            <div class="faq">
              <h5 class="light alt">{{ article.title }}</h5>
              <small>{{ article.content }}</small>
            </div>
          {% endif %}
         
        {% endfor %}
      </div>
    </div>
  </div>
</section>