{% include 'hero' %}

{% if product %}
  <script type="text/javascript">
    jQuery(function() {
      BioliteLocale.current_product = {{ product | json }}
      BioliteLocale.current_variants = {{ product.variants | json }}
    });
  </script>
{% endif %}

<!-- 
   - .nav-horizontal
 -->
<nav class="nav-horizontal" data-sticky>
  <div class="wrapper wrapper--full wrapper--max_height">
    <div class="grid__item grid__item--p0 large--one-quarter nav-horizontal__title">
      CampStove
    </div>
    <div class="grid__item large--two-quarters nav-horizontal__menu">
      <ul data-control-activeitems>
        <li class="active"><a href="#" data-control-scrollto="#product-overview" data-control-scrollto-offset="68">Overview</a></li>
        <li><a href="#" data-control-scrollto="#product-features" data-control-scrollto-offset="68">Features</a></li>
        <li><a href="#" data-control-scrollto="#product-tech" data-control-scrollto-offset="68">Tech</a></li>
        <li><a href="#" data-control-scrollto="#product-specs" data-control-scrollto-offset="68">Specs</a></li>
        <li><a href="#" data-control-scrollto="#product-reviews" data-control-scrollto-offset="68">Reviews</a></li>
        <li><a href="#" data-control-scrollto="#product-accessories" data-control-scrollto-offset="68">Accessories</a></li>
      </ul>
    </div>
    <div class="grid__item large--one-quarter nav-horizontal__action">
      <a href="#" class="btn btn-icon btn-icon--full btn-icon--right btn-primary btn-full" data-control-animation data-control-animation-target="#cart-item-badge" data-control-animation-class="flash">
        <span>Add To Cart</span>
        <i class="fa fa-shopping-cart fa-circle-border fa-circle-border--medium"></i>
      </a>
    </div>
  </div>
</nav>

<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg');">
  <div class="wrapper wrapper--large wrapper--max_height">
      <div class="grid__item large--one-half table">
        <div class="table-cell">
          {{ product.content }}
          {% comment %}
            ID addToCartForm is a selector for the ajaxify cart plugin
          {% endcomment %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-locale="{{ variant.option1 }}">{{ variant.price | money_with_currency }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% assign default_variant = product.variants.first %}
            <span id="ProductPrice" itemprop="price" class="h2">
              {{ default_variant.price | money }}
            </span>

            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

            <button type="submit" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </form>
        </div>
      </div>
      <div class="grid__item large--one-half">
        <div class="product-single__photos" id="ProductPhoto">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        </div>

        {% comment %}
          Create thumbnails if we have more than one product image
        {% endcomment %}
        
        {% if product.images.size > 1 %}
          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

            {% for image in product.images %}
              <li class="grid__item one-quarter">
                <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}

          </ul>
        {% endif %}
      </div>
  </div>
</section>

<section class="product-cards">
  <div class="product-card product-card--bg_right">
    <div class="product-card__inner" style="background-image:url('{{ 'bg-right--product-card-1.jpg' | asset_url }}');">
      <div class="product-card__content">
        <h3 class="mb0">CampStove</h3>
        <h4 class="primary-warm m0">$129.95</h4>
        <p class="mt0 gray-light text-links">Order as a part of the <a href="#">Bundle and Save!</a></p>

        <a href="#" class="mt20 btn btn-primary">Add To Cart</a>
      </div>
      <div class="product-card__overlay"></div>
    </div>
  </div>
  <div class="product-card product-card--bg_right">
    <div class="product-card__inner" style="background-image:url('{{ 'bg-right--product-card-2.jpg' | asset_url }}');">
      <div class="product-card__content">
        <h3 class="mb0">CampStove Bundle</h3>
        <h4 class="primary-warm m0">$299.95</h4>
        <p class="mt0 gray-light text-links">Includes the <a href="#">CampStove</a>, <a href="#">KettlePot</a> and <a href="#">Portable Grill</a></a></p>

        <a href="#" class="mt20 btn btn-primary">Add To Cart</a>
      </div>
      <div class="product-card__overlay"></div>
    </div>
  </div>
</section>



<section id="product-features" class="single-product-features single-product-features--photo_bg">
  <div class="wrapper wrapper--max_height single-product-features__inner">
    <div class="grid__item large--one-half pr30">

      <ul class="nav-circles nav-circles--transparent" data-control-nav data-control-targets="#single-product-slides, #single-product-slide-content">
        {% if product.metafields.features_slide01.icon %}
        <li>
          <div class="circle">
            <i class="fa {{ product.metafields.features_slide01.icon }}"></i>
          </div>
        </li>
        {% endif %}

        {% if product.metafields.features_slide02.icon %}
        <li>
          <div class="circle">
            <i class="fa {{ product.metafields.features_slide02.icon }}"></i>
          </div>
        </li>
        {% endif %}

        {% if product.metafields.features_slide03.icon %}
        <li>
          <div class="circle">
            <i class="fa {{ product.metafields.features_slide03.icon }}"></i>
          </div>
        </li>
        {% endif %}

        {% if product.metafields.features_slide04.icon %}
        <li>
          <div class="circle">
            <i class="fa {{ product.metafields.features_slide04.icon }}"></i>
          </div>
        </li>
        {% endif %}
      </ul>
      
      <ul id="single-product-slide-content" class="pt20" data-control-target>
        {% if product.metafields.features_slide01.title %}
        <li>
          <h3 class="light">{{ product.metafields.features_slide01.title }}</h3>
          <h6>{{ product.metafields.features_slide01.desc }}</h6>
        </li>
        {% endif %}

        {% if product.metafields.features_slide02.title %}
        <li>
          <h3 class="light">{{ product.metafields.features_slide02.title }}</h3>
          <h6>{{ product.metafields.features_slide02.desc }}</h6>
        </li>
        {% endif %}

        {% if product.metafields.features_slide03.title %}
        <li>
          <h3 class="light">{{ product.metafields.features_slide03.title }}</h3>
          <h6>{{ product.metafields.features_slide03.desc }}</h6>
        </li>
        {% endif %}

        {% if product.metafields.features_slide04.title %}
        <li>
          <h3 class="light">{{ product.metafields.features_slide04.title }}</h3>
          <h6>{{ product.metafields.features_slide04.desc }}</h6>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
  <div class="single-product-features__overlay"></div>

  <ul id="single-product-slides" class="single-product-slides" data-control-target>
    {% if product.metafields.features_slide01.image %}
    <li style="background-image:url('{{ product.metafields.features_slide01.image }}');"></li>
    {% endif %}

    {% if product.metafields.features_slide02.image %}
    <li style="background-image:url('{{ product.metafields.features_slide02.image }}');"></li>
    {% endif %}

    {% if product.metafields.features_slide03.image %}
    <li style="background-image:url('{{ product.metafields.features_slide03.image }}');"></li>
    {% endif %}

    {% if product.metafields.features_slide04.image %}
    <li style="background-image:url('{{ product.metafields.features_slide04.image }}');"></li>
    {% endif %}

  </ul>
</section>



<section id="product-tech" class="product-tech" style="background-image:url('{{ 'product-tech--campstove.jpg' | asset_url }}');">
  
  <div id="product-tech-curtain--campstove" class="product-tech-curtain show">
    <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large pt50 pb50">
      
      <header class="product-tech__header text-center grid__item large--one-whole">
        <h3 class="light">Inside Our Technology</h3>
      </header>

      <div class="product-tech-curtain__body">
        <div class="grid__item large--one-half"> 
          <img class="product-tech-curtain__img" src="{{ 'figure-campstove-alt.png' | asset_url }}" alt="">
        </div>

        <div class="grid__item large--one-half">

        </div>
      </div>

    </div>

    <div data-control-curtain="#product-tech-curtain--campstove" data-control-toggle-icons="fa-angle-up, fa-angle-down" data-control-text="Parallel Innovation, Innovative Technology">
      <footer class="product-tech__curtain-footer">
        <small class="caps gray-light alt"><span data-control-text-target>Parallel Innovation</span></small>
      </footer>
      <div class="btn-circle-tab btn-circle-tab--bottom">
        <i class="fa fa-angle-up"></i>
      </div>
    </div>
  </div>
</section>


<section id="content" class="">
  <section id="product-specs" class="product-specs section">
    <div class="wrapper">
      <header class="product-specs__header text-center">
        <h3 class="light">Tech Specs</h3>
      </header>
      
      <div id="product-specs__expander" class="product-specs__expander">
        <div class="product-specs__body">
          
          <div class="product-specs__top clearfix">
            <div class="grid__item large--two-thirds">
              <table class="product-specs__table">
                <tbody>
                  <tr>
                    <td class="spec-title">Packed Size</td>
                    <td class="spec-desc"><span>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)</span></td>
                  </tr>
                  <tr>
                    <td class="spec-title">Weight</td>
                    <td class="spec-desc"><span>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="grid__item large--one-third">
              <img class="product-specs__img" src="{{ 'product-specs--campstove-1.jpg' | asset_url }}" alt="CampStove">
            </div>
          </div><!-- .product-specs__top -->

          <div class="product-specs__middle clearfix">
            <div class="grid__item large--one-half">
              <div class="product-specs__header-icon"></div>

              <table class="product-specs__table product-specs__table--half">
                <tbody>
                  <tr>
                    <td class="spec-title">Fuel</td>
                    <td class="spec-desc"><span>Renewable BioMass <br/> (twigs, pinecone, wood pellets, etc.)</span></td>
                  </tr>
                  <tr>
                    <td class="spec-title">Fire Quality</td>
                    <td class="spec-desc"><span>1.6 oz (46 grams) of wood to boil <br/> 1 liter of water</span></td>
                  </tr>
                  <tr>
                    <td class="spec-title">Fire Power Output</td>
                    <td class="spec-desc"><span>Peak: 3.4 kW (LO), 5.5 kW (HI)</span></td>
                  </tr>
                  <tr>
                    <td class="spec-title">Boil Time</td>
                    <td class="spec-desc"><span>4.5 minutes to boil 1 liter of water <br/> Boiling times vary by strength of fire</span></td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="grid__item large--one-half">
              <div class="product-specs__header-icon"></div>

              <table class="product-specs__table product-specs__table--half">
                <tbody>
                  <tr>
                    <td class="spec-title">Compatible Devices</td>
                    <td class="spec-desc"><span>Powers most USB-chargeable <br/> devices including smart phones</span></td>
                  </tr>
                  <tr>
                    <td class="spec-title">USB Power Output</td>
                    <td class="spec-desc"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></td>
                  </tr>
                  <tr>
                    <td class="spec-title">Charging Time</td>
                    <td class="spec-desc"><span>iPhone 4S (2G): 20 minutes of <br/> charging provides 60 minues of <br/> talk time. Charging times vary by <br/>device and by strength of fire</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- .product-specs__middle -->

          <div class="product-specs__bottom clearfix">
            <div class="grid__item large--two-thirds">
              <table class="product-specs__table">
                <tbody>
                  <tr>
                    <td class="spec-title">In The Box</td>
                    <td class="spec-desc"><span>Stuff Sack <br/> Instructions <br/> USB Chord (for internal battery charging) <br/> BioLite Stove <br/> Firelighter</span></td>
                  </tr>
                </tbody>
              </table>
            </div>  
            <div class="grid__item large--one-third">
              <p class="product-specs__footnote"><em>(Note: Most devices come with specific <br/> charging tips. In an effort to reduce <br/> waste, we have not included charging <br/> cables for devices.)</em></p>
            </div>
          </div>

        </div>

          <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-expander="#product-specs__expander">
            <i class="fa fa-plus"></i>
          </div>
      </div>

    </div>
  </section>


  <div class="wrapper">
    <section id="product-reviews" class="review-quote">
      <div class="review-quote__body">
        <h6 class="review-quote__quote">I used the stove and grill to fix lunch at home to try it out and I love it. It performed great and cooked everything (chicken quarter, sausage, and 2 T-bones) quickly. Even with rotating items on and off the grill, it took no longer than using a larger BBQ pit with expensive charcoal and I used Oak wood found on the ground around our home (in the woods.) I'm very satisfied with my purchase.</h6>
      </div>
      <div class="review-quote__details">
        <h3 class="review-quote__author">JoAnn Clafferty</h3>
        <h6 class="review-quote__location">Livingston, TX</h6>

        <div class="review-stars review-stars--4_5 mt30"></div>
        <p class="gray-light text-links">
          <a href="#" class="underline">See All Reviews</a>
        </p>
      </div>
    </section>

    <section class="product-featurette section-large">
      <div class="product-featurette__image grid__item large--one-half">
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ product.title }}">
      </div>
      <div class="product-featurette__content grid__item large--one-half table">
        <h3 class="alt baseline">BioLite CampStove</h3>
        <h1 class="primary light tight m0">$129.95</h1>
        <p class="gray-light text-links baseline">Order as a part of the <a href="#" class="underline">Bundle and Save</a>!</p>

        <a href="#" class="btn btn-primary btn-icon btn-icon--left mt40 mb40">
          <i class="fa fa-shopping-cart"></i>
          <span>Buy Now</span>
        </a>

        <div class="product-featurette__review">
          <div class="review-rating">4.5 out of 5</div>
          <div class="review-stars review-stars--4_5"></div>
          <p class="gray-light text-links">
            <a href="#" class="underline">See All Reviews</a>
          </p>
        </div>
      </div>
    </section>

    <hr>

    <section class="section">

      <header class="related-products__header">
        <h6>Check out CampStove product bundles along with other related products</h6>
      </header>

      <div  id="product-accessories" class="related-products">
        <a href="#" class="related-product grid__item large--one-quarter">
          <span class="related-product__content">
            <h5 class="related-product__title">BaseCamp</h5>
            <h4 class="related-product__price">$69.95</h4>
          </span>
          <span class="related-product__image" style="background-image:url('{{ 'product-thumb--basecamp.jpg' | asset_url }}');"></span>
        </a>
        <a href="#" class="related-product grid__item large--one-quarter">
          <span class="related-product__content">
            <h5 class="related-product__title">NanoGrid PowerLight</h5>
            <h4 class="related-product__price">$69.95</h4>
          </span>
          <span class="related-product__image" style="background-image:url('{{ 'product-thumb--nanogrid_powerlight.jpg' | asset_url }}');"></span>
        </a>
        <a href="#" class="related-product grid__item large--one-quarter">
          <span class="related-product__content">
            <h5 class="related-product__title">Portable Grill</h5>
            <h4 class="related-product__price">$69.95</h4>
          </span>
          <span class="related-product__image" style="background-image:url('{{ 'product-thumb--portable_grill.jpg' | asset_url }}');"></span>
        </a>
        <a href="#" class="related-product grid__item large--one-quarter">
          <span class="related-product__content">
            <h5 class="related-product__title">BaseCamp CarryPack</h5>
            <h4 class="related-product__price">$69.95</h4>
          </span>
          <span class="related-product__image" style="background-image:url('{{ 'product-thumb--basecamp_carrypack.jpg' | asset_url }}');"></span>
        </a>
      </div>

    </section>

  </div>
</section>
