{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

{% endcomment %}
{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}


{% comment %}
  See snippets/product-grid-item.liquid for more info
{% endcomment %}

{% for product in collection.products %}
<div class="product-grid-item product-category--{{ collection_title }} grid__item large--one-quarter {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}" itemscope itemtype="http://schema.org/Product">
  <div class="product-grid-item__inner">
    <div class="product-grid-item__actions">
      <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a>
      <a href="{{ product.url | within: collection }}" class="btn btn-outline-primary"><i class="fa fa-eye"></i></a>
    </div>
    <div class="product-grid-item__thumb" style="background-image:url('{{ product.featured_image.src | product_img_url: 'medium' }}');"></div>
  </div>
  
  <footer class="product-grid-item__footer">
    <h5 class="product-grid-item__title" itemprop="name">{{ product.title }}</h5>
    <select name="id" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-locale="{{ variant.option1 }}">{{ variant.price | money_with_currency }}</option>
        {% endif %}
      {% endfor %}
    </select>

    {% assign default_variant = product.variants.first %}
    <span id="ProductPrice" itemprop="price" class="product-grid-item__price h5">
      {{ default_variant.price | money }}
    </span>
  </footer>
</div>
{% endfor %}