<!--************
      FOOTER : snippet consistent across all pages
  ***************-->

  <section class="footer-social section">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--two-thirds">
          <h4 class="alt m0">Stay in the Loop</h4>
          <h6 class="gray-lighter mt0">Follow BioLite for photos, updates, promotions, and special previews.</h6>

          <form class="input-inline m0">
            <div class="input-icon input-inline__input">
              <label for="email" class="fa fa-envelope-o"></label>
              <input type="email" id="email" name="email" class="" placeholder="Enter Email">
            </div>
            <button type="submit" class="input-inline__submit btn btn-primary">Join</button>
          </form>

        </div>
        <div class="grid__item large--one-third pl30">
          <h4 class="alt mt0">Join us on</h4>
          <ul class="menu-social">
            <li>
              <a href="javascript:sharePop('');" class="fa fa-facebook fa-circular" title="{{ shop.name }} on Facebook"></a>
            </li>
            <li>
              <a href="javascript:sharePop('');" class="fa fa-twitter fa-circular" title="{{ shop.name }} on Twitter"></a>
            </li>
            <li>
              <a href="javascript:sharePop('');" class="fa fa-youtube fa-circular" title="{{ shop.name }} on YouTube"></a>
            </li>
            <li>
              <a href="javascript:sharePop('');" class="fa fa-instagram fa-circular" title="{{ shop.name }} on Instagram"></a>
            </li>
            <li>
              <a href="javascript:sharePop('');" class="fa fa-pinterest fa-circular" title="{{ shop.name }} on Pinterest"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-default section-small">
    <div class="wrapper">
      <header class="grid footer-default__header">
        <div class="grid__item large--one-half">
          <ul class="menu-footer-top">
            <li><a href="#">Shop</a></li>
            <li><a href="#">Mission</a></li>
            <li><a href="#">Lab</a></li>
          </ul>
        </div>
        <div class="grid__item large--one-half text-right">
          <ul class="menu-footer-auth list-inline">
            <li>
              <a href="#">
                <i class="fa fa-circle-border fa-user"></i>
                <span>Login</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-circle-border fa-map-marker"></i>
                <span>United States</span>
                <i class="fa fa-r fa-angle-down"></i>
              </a>
            </li>
          </ul>
        </div>
      </header>

      <div class="grid footer-default__content">
        
        <ul class="grid__item large--one-fifth">
          {% for link in linklists.footer.links %}

            {% assign child_list_handle = link.title | handleize %}

              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>

          {% endfor %}
        </ul>
      </div>

      <footer class="grid footer-default__footer">
        <ul class="breadcrumbs breadcrumbs--has_emblem">
          <li><a href="#">Biolite</a></li>
          <li><a href="#">Shop</a></li>
          <li class="active">CampStove</li>
        </ul>
      </footer>
    </div>
  </section>

  <section class="footer-legal section-small">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--one-half">
          <span>Copyright 2014 BioLite Inc. All rights reserved.</span>
        </div>
        <div class="grid__item large--one-half text-right">
          <ul class="list-inline list-inline--has_divider">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Updated Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>