<!--************
      FOOTER : snippet consistent across all pages
  ***************-->

  <footer class="global-footer section">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--two-thirds">
          {% include 'breadcrumb' %}
        </div>
        <div class="grid__item large--one-third text-right">
          <a href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook"><span class="icon icon-facebook"></span></a>
          <a href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter"><span class="icon icon-twitter"></span></a>
          <a href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram"><span class="icon icon-instagram"></span></a>
          <a href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest"><span class="icon icon-pinterest"></span></a>
        </div>
        <div class="grid__item one-whole">
          <hr/>
        </div>
        <div class="grid__item large--one-fifth">
          <ul>
            {% for link in linklists.footer.links %}

              {% assign child_list_handle = link.title | handleize %}

                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>

            {% endfor %}
          </ul>
        </div>
         <div class="grid__item large--one-fifth">
          <ul>
            {% for link in linklists.footer.links %}

              {% assign child_list_handle = link.title | handleize %}

                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>

            {% endfor %}
          </ul>
        </div>
         <div class="grid__item large--one-fifth">
          <ul>
            {% for link in linklists.footer.links %}

              {% assign child_list_handle = link.title | handleize %}
             
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>

            {% endfor %}
          </ul>
        </div>
         <div class="grid__item large--one-fifth">
          <ul>
            {% for link in linklists.footer.links %}
              {% assign child_list_handle = link.title | handleize %}

                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
   
            {% endfor %}
          </ul>
        </div>
         <div class="grid__item large--one-fifth">
          <ul>
            {% for link in linklists.footer.links %}
              {% assign child_list_handle = link.title | handleize %}

                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
   
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </footer>


<!--  <footer class="global-footer section" role="contentinfo">

  <div class="wrapper">

    <div class="grid">

      <div class="grid-item medium--one-whole">
        
        <div class="grid">
          
          <div class="grid-item medium--one-half">
            {% include 'breadcrumb' %}
          </div>
          
          <div class="grid-item medium--one-half right">
            {% comment %}
              Loop through the social network links
            {% endcomment %}
            <ul class="inline-list social-icons">
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                    <span class="fallback-text">Twitter</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                    <span class="fallback-text">Facebook</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>     

        </div>

      </div>

    </div>

    <hr>

    <div class="grid">

      <div class="grid-item medium--one-whole">

          <ul class="site-nav" id="accessibleNav">
            {% for link in linklists.footer.links %}
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  <ul class="site-nav--dropdown">
                    {% for childlink in linklists[child_list_handle].links %}
                      <li {% if childlink.active %}class="site-nav--active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}

          </ul>

      </div>

    </div>

    {% comment %}
      Loop through available payment methods and show their icons.
    {% endcomment %}
    {% unless shop.enabled_payment_types == empty %}
    <h4 class="text-center">Accepted Payments</h4>
    <ul class="inline-list payment-icons text-center">
      {% for type in shop.enabled_payment_types %}
        <li>
          <span class="icon-fallback-text">
            <span class="icon icon-{{type}}" aria-hidden="true"></span>
            <span class="fallback-text">{{type | replace: '_',' '}}</span>
          </span>
        </li>
      {% endfor %}
    </ul>
    {% endunless %}

  </div>

</footer> -->