{% if template contains 'index' %}
    <section id="hero" class="hero hero--carousel">

      <!-- HOMEPAGE -->
      <div class="hero__viewport hero-carousel">
        <ul class="slides">

          <li data-thumb="{{ 'thumb--hero-home-1.jpg' | asset_url }}">
            <div class="hero__inner">
              <div class="wrapper table text-center">
                <div class="table-cell">
                  <h3 class="white light baseline"><em>Introducing the NanoGrid</em></h3>
                  <h1 class="white light mt0">See power in a whole new light.</h1>

                  <footer class="mt30">
                    <a href="#" class="btn btn-transparent-primary btn-icon btn-icon--left">
                      <i class="fa fa-r fa-play-circle"></i>
                      <span>Watch the Overview</span>
                    </a>
                      <a href="#" class="btn btn-transparent-primary">
                      <span>See NanoGrid</span>
                    </a>
                  </footer>
                </div>
                </div>
              </div>
            <div class="hero__image" style="background-image:url('{{ 'hero-image--home.jpg' | asset_url }}')"></div>
          </li>

          <li data-thumb="{{ 'thumb--hero-home-2.jpg' | asset_url }}">
            <div class="hero__inner">
              <div class="wrapper wrapper--medium table text-center">
                <div class="table-cell">
                  <h2 class="white">Heading 2</h2>
                  <h6 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, dolores eligendi quisquam amet explicabo dignissimos iste, ullam ad temporibus tempora reiciendis minima est expedita ipsam voluptas beatae dolore, quis id!</h6>
                </div>
              </div>
            </div>
            <div class="hero__image" style="background-image:url('{{ 'hero-image--home.jpg' | asset_url }}')"></div>
          </li>

          <li data-thumb="{{ 'thumb--hero-home-3.jpg' | asset_url }}">
            <div class="hero__inner">
              <div class="wrapper wrapper--medium table text-center">
                <div class="table-cell">
                  <h2 class="white">Heading 3</h2>
                  <h6 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, dolores eligendi quisquam amet explicabo dignissimos iste, ullam ad temporibus tempora reiciendis minima est expedita ipsam voluptas beatae dolore, quis id!</h6>
                </div>
              </div>
            </div>
            <div class="hero__image" style="background-image:url('{{ 'hero-image--home.jpg' | asset_url }}')"></div>
          </li>

          <li data-thumb="{{ 'thumb--hero-home-4.jpg' | asset_url }}">
            <div class="hero__inner">
              <div class="wrapper wrapper--medium table text-center">
                <div class="table-cell">
                  <h2 class="white">Heading 4</h2>
                  <h6 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, dolores eligendi quisquam amet explicabo dignissimos iste, ullam ad temporibus tempora reiciendis minima est expedita ipsam voluptas beatae dolore, quis id!</h6>
                </div>
              </div>
            </div>
            <div class="hero__image" style="background-image:url('{{ 'hero-image--home.jpg' | asset_url }}')"></div>
          </li>
        </ul>
      </div>

</section>

{% elsif template contains 'product' %}

  <!-- PRODUCT -->
  <section class="hero">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">
            <h4 class="alt sans baseline">{{ product.metafields.hero.subtitle }}</h4>
            <h1 class="large light mt0">{{ product.title }}</h1>
            {% if product.metafields.hero.video %}
              <a href="#" class="btn btn-transparent-primary btn-icon mt20">
                <span>Watch the overview</span>
                <i class="fa fa-r fa-play-circle"></i>
              </a>
            {% endif %}
            
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image:url('{{ product.metafields.hero.image }}')"></div>
    </div>
  </section>

{% elsif template contains 'collection' %}
     
  <!-- COLLECTIONS -->
  <section class="hero hero--medium">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--xlight">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">
            <h1 class="light mb0">It's Camping Season</h1>
            <h4 class="alt sans mt0">Checkout 5 new BioLite products you won’t want to leave behind</h4>
            
            <a href="" class="btn btn-transparent-primary btn-icon btn-icon--left mt20">
              <i class="fa fa-r fa-play-circle"></i>
              <span>See Camping Products</span>
            </a>
            
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image:url('{{ 'hero-shop-1.jpg' | asset_url }}')"></div>
    </div>
  </section>

{% elsif template contains 'article' %}

  <section class="hero hero--small">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">
            <h1 class="light mb0">{{ article.title }}</h1>

            <footer class="mt30">
              <p>
                Posted by <strong>{{ article.author }}</strong> at
                <strong><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                  {{ article.published_at | date: '%b %d, %Y' }}
                </time></strong>
              </p>
            </footer>
          </div>
        </div>
      </div>
      {{ article.metafields.hero_image[url] }}
      <div class="hero__image" style="background-image: url('{{ article.metafields.hero.image }}');"></div>
    </div>
  </section>

{% elsif template contains 'faq' or template contains 'contact' %}

  <section class="hero hero--xsmall">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">
            <h1 class="light mb0">{{ page.title }}</h1>
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image: url('{{ page.metafields.hero.image }}');"></div>
    </div>
  </section>

{% else %}

  <section class="hero hero--small">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">
            <h1 class="light baseline">{{ page.title }}</h1>

            {% if page.metafields.hero_text.subtitle %}
            <h3 class="white light baseline"><em>{{ page.metafields.hero_text.subtitle }}</em></h3>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image: url('{{ page.metafields.hero.image }}');"></div>
    </div>
  </section>

{% endif %}